
.content-secondary, .ui-block-a {
  display: none;
  width: 0% !important;
}

.content-primary, .ui-block-b {
  width: 100% !important;
}

@media screen and (orientation: portrait), screen and (max-width: 801px)
{
}

@media screen and (min-width: 801px) and (orientation: landscape)
{
  .content-secondary {
    display: block;
    width: 30%;
    float: left;
    border-right: 1px solid #CCC;
  }
  
  .content-primary {
    width: 70%;
    float: right;
  }

  .ui-block-a {
    display: block;
    width: 30% !important;
    float: left;
    border-right: 1px solid #CCC;
    //background: green;
  }
  
  .ui-block-b {
    width: 70% !important;
    float: right;
    //background: red;
  }
}

#journal header {
  border-bottom: 1px solid grey;
}

#journal article {
  clear: both;
}

#journal footer {
  border-top: 1px solid grey;
  padding-top: 5px;
}

#journal header h2 {
  background: blue;
  margin-top: 0px;
  float: left;
}

.properties div {
  text-align: right;
  font-size: .8em;
}

#created {
}

#classification {
}

.public:before {
  content: "Public";
}

.private:before {
  content: "Private";
}

.draft:before {
  content: "Draft";
}

.final:before {
  content: "Final";
}

.cancelled:before {
  content: "Cancelled";
}

#status {
}

#modified {
}

#modified:before {
  content: "bearbeitet: ";
}

#categories {
  float: left;
}

#categories:before {
  content: "Kategorien: ";
}

